In [1]:
import os
import gc
import pickle
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from tqdm.notebook import tqdm

pd.options.display.max_rows = None
pd.options.display.max_columns = None

%matplotlib inline

In [2]:
df = pd.read_csv('features.csv')

In [7]:
df['S_2'] = pd.to_datetime(df['S_2'])

df['tmp'] = df.groupby('customer_ID')['S_2'].diff()
df['tmp'] = df['tmp'].apply(lambda x: x.days)

group = df.groupby('customer_ID')['tmp'].agg(['max', 'min', 'mean', 'std']).reset_index()

rename_dict = {k: f"fe_transaction_days_{k}" for k in ['max', 'min', 'mean', 'std']}
group = group.rename(columns=rename_dict)

In [8]:
group.head()

,customer_ID,fe_transaction_days_max,fe_transaction_days_min,fe_transaction_days_mean,fe_transaction_days_std
0,001404030d4c78b76bf02e809387611bdf6b708a42c589...,49.0,8.0,32.416667,10.900028
1,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,32.0,28.0,30.416667,1.164500
2,0229ecb6a6eb8a724637bd7d8b988d06562f2441f5112e...,52.0,9.0,29.916667,11.696607
3,0264ec10c09b97662a7b19871e4eaf540050afccf65d26...,32.0,28.0,30.500000,1.087115
4,02f887d9280480f14f8cfe1650661f91b034f087f056b8...,59.0,10.0,30.916667,12.580348

In [9]:
df.head()

,customer_ID,S_2,D_39,D_41,D_42,D_43,D_44,D_45,D_46,D_47,D_48,D_49,D_50,D_51,D_52,D_53,D_54,D_55,D_56,D_58,D_59,D_60,D_61,D_62,D_63,D_64,D_65,D_66,D_68,D_69,D_70,D_71,D_72,D_73,D_74,D_75,D_76,D_77,D_78,D_79,D_80,D_81,D_82,D_83,D_84,D_86,D_87,D_88,D_89,D_91,D_92,D_93,D_94,D_96,D_102,D_103,D_104,D_105,D_106,D_107,D_108,D_109,D_110,D_111,D_112,D_113,D_114,D_115,D_116,D_117,D_118,D_119,D_120,D_121,D_122,D_123,D_124,D_125,D_126,D_127,D_128,D_129,D_130,D_131,D_132,D_133,D_134,D_135,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,S_3,S_5,S_6,S_7,S_8,S_9,S_11,S_12,S_13,S_15,S_16,S_17,S_18,S_19,S_20,S_22,S_23,S_24,S_25,S_26,S_27,P_2,P_3,P_4,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,B_9,B_10,B_11,B_12,B_13,B_14,B_15,B_16,B_17,B_18,B_19,B_20,B_21,B_22,B_23,B_24,B_25,B_26,B_27,B_28,B_29,B_30,B_31,B_32,B_33,B_36,B_37,B_38,B_39,B_40,B_41,B_42,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,R_10,R_11,R_12,R_13,R_14,R_15,R_16,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,R_26,R_27,R_28,tmp
0,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-03-05,0.008376,0.007045,NaN,0.355097,0.381721,0.232541,0.749022,0.931925,0.636798,NaN,NaN,0.008505,0.257918,NaN,1.009888,0.678041,NaN,0.673155,0.279011,0.001999,0.845026,0.112573,CO,R,0.003677,NaN,6.0,0.002893,0.255467,0.013176,0.007019,NaN,0.362555,0.338296,NaN,NaN,0.002008,0.009383,0.406832,0.008304,NaN,0.005456,0.008112,0.009082,NaN,NaN,0.007533,0.009429,0.006783,0.004019,0.002943,0.001115,0.004340,0.001371,0.007033,NaN,NaN,0.002144,NaN,0.006973,NaN,NaN,1.003346,0.003928,1.0,0.464769,0.0,-1.0,0.461045,0.459714,0.0,0.727194,0.428788,0.009761,0.365854,0.008233,1.0,0.009708,1.005559,0.007325,0.007439,0.007083,NaN,0.008561,NaN,NaN,NaN,NaN,NaN,0.008365,0.008801,0.001185,NaN,0.006018,0.009393,0.003585,0.401315,0.002239,0.008523,0.327650,0.127948,NaN,0.048080,0.184423,0.005208,0.408499,0.006978,0.008038,0.003621,0.004491,0.001774,0.853806,0.131347,0.868075,0.972705,0.004930,0.007958,0.523405,0.480283,0.001637,0.006680,1.000940,0.009355,0.901268,0.020332,0.034404,0.182016,0.007657,0.004749,0.027181,0.008233,0.154105,0.008163,0.006533,0.007149,0.423158,NaN,0.407278,0.109469,0.004621,0.005013,0.006692,0.184154,0.009886,0.003749,0.006558,0.004967,0.521413,NaN,0.0,1,0.000358,1.004676,0.000329,0.003749,3.0,NaN,0.330606,0.005743,NaN,0.003428,0.005751,0.507771,0.000728,0.008425,0.008175,0.002113,0.004826,NaN,0.007801,0.005049,1.000701,0.000934,0.001050,0.002937,0.005534,0.002551,0.009574,0.006862,0.007049,0.008520,0.005952,0.008763,0.000349,0.005358,NaN,1.000625,0.001186,NaN
1,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-04-10,0.002836,0.000565,NaN,0.312375,0.134045,0.232197,0.416163,0.939839,0.484000,NaN,0.006556,0.006998,0.253597,NaN,1.008957,0.611879,NaN,0.567915,0.275475,0.009932,0.842110,0.077126,CO,R,0.008699,NaN,6.0,0.005307,0.007638,0.012317,0.003940,NaN,0.290779,0.275103,NaN,0.072436,0.000811,0.009827,0.608082,0.008636,0.005899,0.009630,0.006017,0.001705,NaN,NaN,0.001632,0.001945,0.008371,0.002443,0.002520,0.005529,0.006890,0.009558,0.008599,NaN,NaN,0.008818,NaN,0.007328,NaN,NaN,1.002003,0.006697,1.0,0.477699,0.0,-1.0,0.461896,0.465308,0.0,0.732167,0.576645,0.004936,0.365156,0.008392,1.0,0.008002,1.002762,1.004064,0.004804,0.000823,NaN,0.000696,NaN,NaN,NaN,NaN,NaN,0.006429,0.000438,0.004144,NaN,0.002282,0.003261,0.002704,0.394459,0.004846,0.008937,0.322127,0.008656,NaN,0.289070,0.184495,0.004601,0.509170,0.002461,0.004669,0.004006,0.004215,0.004033,0.303755,0.140477,0.085234,0.969171,0.009193,0.005511,0.533376,0.522688,0.003317,0.007121,0.814569,0.011885,0.901686,0.009887,0.046754,0.328685,0.007138,0.008674,0.016825,0.002511,0.057497,0.012143,0.003472,0.004912,0.426391,NaN,0.407492,0.209688,0.009138,0.006126,0.005744,0.340210,0.002182,0.007864,0.005851,0.004641,0.505322,NaN,0.0,1,0.008105,1.005377,0.004619,0.003541,3.0,NaN,0.282520,0.008473,NaN,0.001009,0.005574,0.408810,0.005981,0.003779,0.000730,0.007040,0.003869,NaN,0.009881,0.007829,1.003468,0.009944,0.002582,0.000130,0.005474,0.006805,0.008637,0.000246,0.006339,0.009445,0.001576,0.005732,0.001543,0.008059,NaN,1.007494,0.003187,-0.005540
2,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-05-11,0.005452,0.004533,NaN,0.292273,0.125204,0.242980,0.667975,0.935225,0.552593,NaN,0.063341,0.334509,0.254302,NaN,1.008667,0.611121,0.156358,0.362618,0.299546,0.000664,0.854675,0.077812,CO,R,0.001403,NaN,6.0,0.004230,0.009225,0.007288,0.009556,NaN,0.222058,0.206664,NaN,0.072469,0.001174,0.007828,0.602555,0.007649,0.005292,0.003023,0.001413,0.002035,NaN,NaN,0.005563,0.007224,0.005618,0.000927,0.001560,0.003546,0.007065,0.001723,0.009428,NaN,NaN,0.003477,NaN,0.001703,NaN,NaN,1.009695,0.002773,1.0,0.470693,0.0,-1.0,0.465419,0.470432,0.0,0.735738,0.577119,0.000628,0.367143,0.001337,1.0,0.006060,1.008057,1.009648,0.009714,0.006015,NaN,0.009659,NaN,NaN,NaN,NaN,NaN,0.004221,0.007356,0.002904,NaN,0.002599,0.005015,0.009224,0.209648,0.005553,0.009005,0.163907,0.009221,NaN,0.286192,0.189508,0.001399,0.507527,0.005709,0.007397,0.004587,0.006939,0.007983,0.294993,0.137139,0.085810,0.976815,0.000662,0.001212,0.634030,0.681180,0.009019,0.004289,0.812784,0.003436,0.385059,0.006657,0.047251,0.099822,0.002281,0.000900,0.051039,0.001030,0.114079,0.007256,0.003386,0.008785,0.342912,NaN,0.482128,0.226163,0.005529,0.000693,0.004659,0.092185,0.009234,0.005299,0.004889,0.009677,0.317800,NaN,0.0,1,0.004118,1.001630,0.005823,0.004801,3.0,NaN,0.104795,0.004408,NaN,0.000545,0.004208,0.206394,0.008101,0.009677,0.005372,0.007066,0.000040,NaN,0.005141,0.506747,1.000948,0.003973,0.002663,0.006512,0.001273,0.001546,0.005562,0.000117,0.001750,0.002251,0.002244,0.008358,0.003339,0.001750,NaN,1.003712,0.006055,0.002616
3,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-06-26,0.008479,0.005404,NaN,0.263852,0.130830,0.242419,0.970413,0.937199,0.593193,NaN,0.051120,0.339736,0.257668,NaN,1.000132,0.624769,0.156589,0.424252,0.313654,0.011004,0.862536,0.301000,CO,R,0.007984,NaN,6.0,0.005435,0.009187,0.013129,0.008110,NaN,0.222602,0.206693,NaN,0.284898,0.003003,0.004980,0.801159,0.003897,0.007554,0.003833,0.005350,0.008191,NaN,NaN,0.000226,0.000541,0.001216,0.002424,0.009860,0.008558,0.004692,0.005376,0.001312,NaN,NaN,0.000988,NaN,0.007573,NaN,NaN,1.009227,0.001285,1.0,0.469489,0.0,4.0,0.469368,0.468733,0.0,0.730996,0.578529,0.009911,0.364419,0.004572,1.0,0.007977,1.002271,1.006584,0.002402,0.003640,NaN,0.002633,NaN,NaN,NaN,NaN,NaN,0.003387,0.001938,0.006487,NaN,0.002336,0.004986,0.009904,0.270682,0.006901,0.009340,0.230383,0.409272,NaN,0.484187,0.193640,0.282839,0.302487,0.004343,0.001000,0.006127,0.008279,0.004425,0.940473,0.138006,0.952488,0.976040,0.005174,0.003958,0.581146,0.512193,0.000026,0.058330,0.818535,0.000965,0.658666,0.002226,0.043063,0.240751,0.002983,0.011179,0.083544,0.028695,0.010888,0.010728,0.018741,0.006305,0.250914,NaN,0.481066,0.256717,0.002567,0.003423,0.008745,0.242186,0.007360,0.026344,0.006191,0.001274,0.466393,NaN,0.0,1,0.005268,1.007153,0.000381,0.052890,3.0,NaN,0.177959,0.005832,NaN,0.001734,0.000367,0.207162,0.000611,0.007309,0.001963,0.006136,0.006847,NaN,0.002331,0.006615,1.007754,0.002246,0.008641,0.005761,0.002581,0.002090,0.001199,0.008494,0.008518,0.000146,0.008414,0.000527,0.001596,0.007417,NaN,1.006987,0.002912,0.003027
4,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-07-27,0.001563,0.002158,NaN,0.250307,0.133416,0.249555,0.622276,0.943007,0.502249,NaN,0.041874,0.334461,0.249273,NaN,1.004838,0.627495,0.154779,0.533730,0.338152,0.108703,0.860343,0.083356,CO,R,0.004048,NaN,6.0,0.008977,0.009241,0.010445,0.005138,NaN,0.285762,0.271836,NaN,0.080876,0.003526,0.009293,0.609401,0.009011,0.003492,0.002462,0.004631,0.000695,NaN,NaN,0.008115,0.000541,0.004173,0.002209,0.001001,0.003255,0.007232,0.003694,0.005529,NaN,NaN,0.005952,NaN,0.009441,NaN,NaN,1.007756,0.005401,1.0,0.476933,0.0,4.0,0.462982,0.462380,0.0,0.729039,0.577550,0.007366,0.371733,0.009156,1.0,0.002701,1.006358,1.002951,0.009483,0.009285,NaN,0.004474,NaN,NaN,NaN,NaN,NaN,0.003324,0.009098,0.002901,NaN,0.009378,0.004077,0.000444,0.346932,0.013430,0.004040,0.275219,0.761591,0.013124,0.400844,0.311368,0.679599,0.204452,0.000749,0.007776,0.008934,0.001918,0.009056,0.946010,0.137535,0.956570,0.977602,0.004775,0.275041,0.638761,0.706543,0.001986,0.074599,0.810576,0.007989,0.694296,0.276121,0.036000,0.158879,0.009509,0.131903,0.069516,0.067256,0.084354,0.018856,0.123848,0.005733,0.169784,NaN,0.410517,0.280385,0.005869,0.003316,0.003383,0.155887,0.002903,0.219085,0.006143,0.007591,0.538806,NaN,0.0,1,0.001083,1.005839,0.007316,0.077756,3.0,NaN,0.157703,0.005558,NaN,0.003550,0.008726,0.201367,0.002040,0.000381,0.001551,0.002151,0.005806,NaN,0.004781,0.008049,1.008225,0.007946,0.007221,0.003517,0.006654,0.009656,0.002902,0.009640,0.009900,0.006508,0.000397,0.001316,0.001750,0.005936,NaN,1.004847,0.006574,-0.006916

In [10]:
df.shape

(5569, 191)

In [58]:
df['S_2'] = pd.to_datetime(df['S_2'])

df['tmp'] = df.groupby('customer_ID')['S_2'].diff()
df['tmp'] = df['tmp'].apply(lambda x: x.days)

group = df.groupby('customer_ID')['tmp'].agg(['max', 'min', 'mean']).reset_index()

In [55]:
df[['customer_ID', 'S_2', 'tmp']].head(20)

                                          customer_ID        S_2   tmp
0   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-03-05   NaN
1   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-04-10  36.0
2   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-05-11  31.0
3   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-06-26  46.0
4   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-07-27  31.0
5   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-08-04   8.0
6   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-09-09  36.0
7   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-10-07  28.0
8   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-11-25  49.0
9   001404030d4c78b76bf02e809387611bdf6b708a42c589... 2017-12-26  31.0
10  001404030d4c78b76bf02e809387611bdf6b708a42c589... 2018-01-15  20.0
11  001404030d4c78b76bf02e809387611bdf6b708a42c589... 2018-02-23  39.0
12  001404030d4c78b76bf02e809387611bdf6b708a42c589... 2018-03-29  34.0
13  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-03-10   NaN
14  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-04-08  29.0
15  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-05-10  32.0
16  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-06-09  30.0
17  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-07-10  31.0
18  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-08-10  31.0
19  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b... 2017-09-09  30.0

In [59]:
group.head()

                                         customer_ID   max   min       mean
0  001404030d4c78b76bf02e809387611bdf6b708a42c589...  49.0   8.0  32.416667
1  00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...  32.0  28.0  30.416667
2  0229ecb6a6eb8a724637bd7d8b988d06562f2441f5112e...  52.0   9.0  29.916667
3  0264ec10c09b97662a7b19871e4eaf540050afccf65d26...  32.0  28.0  30.500000
4  02f887d9280480f14f8cfe1650661f91b034f087f056b8...  59.0  10.0  30.916667

In [50]:
a = df.groupby('customer_ID')[['S_2']].nunique().reset_index()

a.head(50)

                                          customer_ID  S_2
0   001404030d4c78b76bf02e809387611bdf6b708a42c589...   13
1   00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...   13
2   0229ecb6a6eb8a724637bd7d8b988d06562f2441f5112e...   13
3   0264ec10c09b97662a7b19871e4eaf540050afccf65d26...   13
4   02f887d9280480f14f8cfe1650661f91b034f087f056b8...   13
5   03cfbaf2318a08a054f62a5844b15e666f5a57792d0807...   13
6   03d1440738c410f87ed7ca2b4b4b3b48d677fe9ee98e2a...   13
7   049880a002ce667556644e89ebbf01106867d1a5def2ca...    2
8   0499e881bc25d3026288629a25c19cb062cb99e8b3ca3e...   10
9   05f0abfb299925d0412467837dfeff53333a7cbca6a6c7...   13
10  074397d68f6828690b857f48252fd66274d002417cf153...   13
11  076fd580edb232321075bcdf3ef540dabc02f7d79248c1...   13
12  07970dc9e83c621aabffe49c8bd17b1b87657e45cb5ca3...   13
13  0970253b4fa0f0a1d9732e43abe9d6780234e8b326f617...   13
14  097279b1669783e74e415a80737fdb34aeebefea3fab68...   13
15  0a0d902e3736fa8d88e779dc4b2922ecea94c1ab6609ca...   13
16  0b5e6b760cc9f144a483d093e9a5e5df5d0578e0411fd6...   11
17  0b62841af67fed8732a0555023b661f3804553b773bff1...   13
18  0c6930c92026ebf53473bafe4d99a62dc8ceccbe66a87f...   13
19  0d3010d9c811141b63b4e89725622df63ec096c32ce1ab...   13
20  0d39d4a1ef05441525cce88cae66b5c74f5f94a0ac9b78...   13
21  0e0b34f8793c1835e422a6410f5f37503802c151513570...   13
22  0e0cf3a333ecb116154b3a753ef4d6ff16858d7ac1c7a2...    8
23  0f4e2f7c0db944010cfc1429aa32f0c6eca35a637d0d50...   13
24  0fe0bf140d2b89164b378041d739c1951a268af8508932...   13
25  1009bf4121b8756c709bf4e0ed76cac45c097e7a26f065...   13
26  106c5201923d3122204688012bbacd8ea2290338611b97...   13
27  1110cdcfd33113429289292a5153d5c53aebd345080c30...   13
28  11b4032ed1ab9d902a3e8c51c5ee4551f254a8596c24fa...   13
29  11cc6257c14dca3b9413be5f21caf8b7f67194f2d33232...   13
30  11fdbea49544ebd6c9e65538f218b31426603853754b31...   13
31  121323f778c54dd718007f1cf4400f281b4b9c974a39b2...   13
32  12e4abaee465282da4bed14770ab2bf4b18221ab6b1568...    3
33  12f8aa48c0eb666c4594fafdc748f6ce08477671c5d605...   13
34  1468e1405cbfb23b233287d1462ed344b063349ad95a2e...   13
35  14779b660f981bbbd7a1ed47640806af1445415c699097...   13
36  14b1e3e4b98b6776b601ee16975f46f9d31c8499f284db...   13
37  14c52b3aadecbb21f067af492955186168ffb273d5e680...   12
38  14d8d00728813333a98360f12ee486084cd3e937ee3dba...   13
39  162c22e544f79d4defa7f4749486d949e274957aabe131...   13
40  16ca8b3a0f86cf16808c8035878a6e05ca6bb98cc0702c...   13
41  178d06b11bb3ac5f9a747c7693d5fad641100f6fe069e9...   13
42  196e2ffb98b1aff40879286c46d88f6546339e23113c51...   13
43  197db5eabe450029eb8db2c69f9a73f741a985a7a602d5...   13
44  19813e8aea3689abd7b0a5547f327f59002641260a3ff9...   13
45  19c306e8d3dcf91be10f6a3c371532ed13070fa10159eb...   13
46  1c1da79b42e746ca98d922a1b6c1354fa6b2a38b27b1da...   13
47  1cc7db827c31a9ffa1c094424a5e3bd9218a563b86ec9a...   13
48  1e2741a33cbe60e6cac47b90d53e2ba89fec6fbc01c5af...   13
49  1e5a6d0f38ab39c8b121a77c31c54027d0b4072eaf9a43...   13

In [52]:
class GroupbyIDTransformer:
    def __init__(self, feats: list, aggs: list):
        self.feats = feats
        self.aggs = aggs

    def _unique_customer_id(self, df):

        target_df = pd.DataFrame({
            'customer_ID': df['customer_ID'].unique()
        })

        return target_df
    
    def transform(self, df):
        
        target = self._unique_customer_id(df)
        
        for agg in self.aggs:
            group = df.groupby('customer_ID')[self.feats].agg(agg).reset_index()
            rename_dict = {k: f"fe_group_{agg}_key_customer_ID_feat_{k}" for k in self.feats}
            group = group.rename(columns=rename_dict)
            
            target = pd.merge(target, group, on='customer_ID')
            
        return target

In [53]:
feats = ['D_39', 'D_41']
aggs = ['max', 'mean']
group_id = 'customer_ID'


tt = GroupbyTransformer(feats, aggs, group_id)
res = tt.transform(df)

In [54]:
res.head()

,customer_ID,fe_group_max_key_customer_ID_feat_D_39,fe_group_max_key_customer_ID_feat_D_41,fe_group_mean_key_customer_ID_feat_D_39,fe_group_mean_key_customer_ID_feat_D_41
0,001404030d4c78b76bf02e809387611bdf6b708a42c589...,0.177261,0.008917,0.028039,0.004898
1,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,0.009428,0.009959,0.005560,0.005816
2,0229ecb6a6eb8a724637bd7d8b988d06562f2441f5112e...,0.242850,0.008297,0.052441,0.004825
3,0264ec10c09b97662a7b19871e4eaf540050afccf65d26...,0.008270,0.009098,0.004711,0.005395
4,02f887d9280480f14f8cfe1650661f91b034f087f056b8...,0.888410,0.798163,0.467966,0.342802

In [42]:
feats = ['D_39', 'D_41']
agg = 'max'
group_id = 'customer_ID'

group = df.groupby(group_id)[feats].agg(agg).reset_index()
rename_dict = {k: f"fe_group_{agg}_key_{group_id}_feat_{k}" for k in feats}
group = group.rename(columns=rename_dict)

In [47]:
group.head(2)

,customer_ID,fe_group_max_key_customer_ID_feat_D_39,fe_group_max_key_customer_ID_feat_D_41
0,001404030d4c78b76bf02e809387611bdf6b708a42c589...,0.177261,0.008917
1,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,0.009428,0.009959

In [49]:
df[df['customer_ID'] == '001404030d4c78b76bf02e809387611bdf6b708a42c5890ecc057970b51bff87']['D_41'].max()

0.008916918

In [25]:
g_cols = ['customer_ID']
value_cols = ['D_39', 'D_41']
aggs = ['max', 'mean', 'min']
id_col = 'customer_ID'

transformer = GroupbyTransformer(g_cols, value_cols, id_col, aggs)

res = transformer(df)

  0%|          | 0/6 [00:00<?, ?it/s]

ValueError: The column label 'customer_ID' is not unique.

In [24]:
tmp_fe = ['customer_ID', 'S_2', 'D_39', 'D_41'] + [f for f in res.columns if f.startswith('fe')]

res[tmp_fe].head(20)

,customer_ID,S_2,D_39,D_41,fe_group_S_2_D_39_max,fe_group_S_2_D_39_mean,fe_group_S_2_D_39_min,fe_group_S_2_D_41_max,fe_group_S_2_D_41_mean,fe_group_S_2_D_41_min
0,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-03-05,0.008376,0.007045,1.592170,0.417262,0.001904,0.509461,0.133313,0.001378
1,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-04-10,0.002836,0.000565,0.714186,0.139967,0.000923,0.231801,0.045357,0.000565
2,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-05-11,0.005452,0.004533,0.594557,0.101396,0.000807,0.256791,0.033994,0.000195
3,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-06-26,0.008479,0.005404,0.591397,0.141814,0.000405,0.315452,0.022680,0.000736
4,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-07-27,0.001563,0.002158,0.592593,0.120277,0.001142,0.261293,0.020568,0.000109
5,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-08-04,0.005510,0.003301,0.567441,0.117638,0.000672,0.009785,0.005538,0.000024
6,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-09-09,0.177261,0.006952,0.920613,0.138126,0.000659,0.682051,0.072125,0.000542
7,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-10-07,0.123322,0.006850,0.859203,0.237124,0.000650,0.009959,0.006855,0.004502
8,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-11-25,0.009760,0.002129,0.444210,0.050675,0.000330,0.515833,0.028976,0.000005
9,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2017-12-26,0.004978,0.005198,0.565063,0.123801,0.001944,0.149337,0.014799,0.000784
10,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2018-01-15,0.003163,0.008917,0.920448,0.136218,0.000809,0.364542,0.025674,0.000303
11,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2018-02-23,0.005966,0.006787,0.914834,0.119935,0.000786,0.378139,0.042055,0.001924
12,001404030d4c78b76bf02e809387611bdf6b708a42c589...,2018-03-29,0.007839,0.003836,0.450017,0.070961,0.000057,0.169534,0.028410,0.001557
13,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-03-10,0.009418,0.006315,0.678908,0.084465,0.000380,0.213962,0.026988,0.001672
14,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-04-08,0.008503,0.004373,0.651007,0.131346,0.001075,0.457903,0.043602,0.001097
15,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-05-10,0.004522,0.006424,1.127163,0.207554,0.000591,0.772028,0.065607,0.000937
16,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-06-09,0.002787,0.009837,0.707940,0.168825,0.002787,0.617492,0.073993,0.000043
17,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-07-10,0.009428,0.009959,0.920018,0.185972,0.000758,1.701726,0.237638,0.000270
18,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-08-10,0.008295,0.004842,0.653579,0.114660,0.002330,0.609773,0.122071,0.000351
19,00a0778eb2980d0fa97a0a7a4b32bb534d00437d30693b...,2017-09-09,0.005452,0.006573,0.920613,0.138126,0.000659,0.682051,0.072125,0.000542